/* Resets all page by removing margin and padding*/
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #ffcd24;
  text-shadow: 1.5px 1.5px #111;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* NAVIGATION BAR STYLES STARTS*/

.navbar-bg {
  background-color: #005aee;
}

nav span {
  color: #ffcd24;
}

/* NAVIGATION BAR STYLES ENDS*/

/* HERO SECTION STYLES STARTS*/

.hero {
  background-color: #064ec6;
}

.hero-img {
  width: 360px;
  height: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* HERO SECTION STYLES ENDS*/

/* ABOUT ME SECTION STYLES ENDS*/

.aboutme-container {
  background-color: #4083f2;
  padding-bottom: 10px;
}
.aboutme-img {
  width: 360px;
  height: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.bio-Pic {
  width: 150px;
  height: 150px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.aboutMe-text {
  float: left;
  background-color: #064ec6;
  width: 100%;
  height: 600px;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 30px;
}





/* ABOUT ME STYLES ENDS*/

/* SKILLS SECTION STYLES START*/

.skills {
  background-color: #4083f2;
  padding-top: 50px;
}

.skills-card {
  border: 2px solid #111;
  border-radius: 5px;
}

.skill-icon {
  width: 150px;
  height: 150px;
  background-color: #064ec6;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;

}

/* SKILLS SECTION STYLES ENDS*/

/* PROJECTS SECTION STYLES STARTS*/
.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #064ec6;
}

.project-img {
  width: 400px;
  height: 337px;
}
.card-title{
  color: #ffffff;
}

.card-text {
  color: #ffffff;
}
/* PROJECTS SECTION STYLES ENDS*/

/* FOOTER SECTION STYLES STARTS*/
.footer {
  background-color: #00153d;
  padding-top: 40px;
}

.contact-info {
  color: #ffcd24;
  background-color: #2aabe4;
}

.contact-icon {
  padding-right: 20px;
  width: 100px;
 
}

table {
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

th {
  font-size: 16px;
  padding-left: 12px;
  text-align: center;
  color: #ffffff;
}

tr {
  text-align: center;
}

td {
  font-size: 14px;
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  background-color: #00153d;
}

/* FOOTER SECTION STYLES ENDS */

/************************** MEDIA QUERIES FOR MOBILE PHONES, TABLETS AND DESKTOP *****************************/
/*Landscape ipad mini*/

@media only screen and  (min-device-width: 320px) and (min-device-width: 768px) {
  /* NAVBAR SECTION STYLES STARTS*/

  .margin-left {
    margin-left: 460px;
  }

  /* NAVBAR SECTION STYLES ENDS*/
  .aboutme-img {
    width: 500px;
    height: 403px;
    margin-top: 150px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .aboutme-body {
    width: 50%;
    float: left;
    height: 870px;
    background-color: #064ec6;
    padding-bottom: 2opx;
  }

  .aboutMe-text {
    float: left;
    background-color: #064ec6;
    width: 100%;
    height: 650px;
   
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }

  
  /* FOOTER SECTION STYLES STARTS*/

  table {
    margin-left: 320px;
  }
  td{
    padding-right: 30px;
  }

  /* FOOTER SECTION STYLES ENDS */
}
/***********************************************************************************************************************/
/*Portrait ipad mini*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* NAVBAR SECTION STYLES STARTS*/

  .margin-left {
    margin-left: 210px;
  }

  /* NAVBAR SECTION STYLES ENDS*/
  .aboutMe-text {
    height: 400px;
    
    
  }
  /* FOOTER SECTION STYLES STARTS*/
 
  table {
    margin-left: 170px;
  }
  td {
    padding-right: 30px;
  }

  /* FOOTER SECTION STYLES ENDS */
}







/**************************************************************************************************************/


/* Media Query for Laptops */
@media (min-width: 1200px) and (max-width: 1600px) {

/* NAVBAR SECTION STYLES STARTS*/

.margin-left {
 margin-left: 500px;

}
.navbar-brand{
  padding-right: 400px;
}

.nav-link{
  font-size: 24px;
 
}

/* NAVBAR SECTION STYLES ENDS*/

 /*hero*/
.hero-img {
  padding-top: 50px;
  width: 610px;
  height: 580px;

}
 /*about me*/
  .aboutme-body {
    width: 50%;
    float: left;
    padding: 20px;
  }

  .aboutMe-text {
    height: 400px;
    line-height: 40px;
  }

  .aboutme-img {
    width: 660px;
    height: 590px;
    
  }

  /*footer*/
  table {
    margin-left: 600px;
  }
  td {
    padding-right: 30px;
  }

}
@media (min-width: 1601px) and (max-width: 1900px)
  {
    .margin-left {
      margin-left: 500px;
     
     }
     .navbar-brand{
       padding-right: 700px;
     }
     
     .nav-link{
       font-size: 24px;
      
     }


     /***************************************************************************************/

     .hero-img {
      padding-top: 50px;
      width: 610px;
      height: 580px;
    
    }


    /********************************************************************************************/
 /*about me*/


.aboutMe-text {
  line-height: 50px;
  font-size: 24px;
}

.aboutme-img {
  width: 660px;
  height: 590px;
  
}
/****************************************************************************************************/

.skills {
  padding-bottom: 100px;
}

.skill-icon {
  width: 200px;
  height: 200px;
}
  
}
