/* Resets all page by removing margin and padding*/
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h4 {
  color: #ffcd24;
  text-shadow: 1.5px 1.5px #111;
  font-family: "Roboto", sans-serif;
}


/* NAVIGATION BAR STYLES STARTS*/

.navbar-bg {
  background-color: #2aabe4;
}

nav span {
  color: #ffcd24;
}

/* NAVIGATION BAR STYLES ENDS*/

/* HERO SECTION STYLES STARTS*/

.hero {
  background-color: #2aabe4;
}

.hero-img {
  width: 360px;
  height: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* HERO SECTION STYLES ENDS*/

/* ABOUT ME SECTION STYLES ENDS*/

.bio-Pic {
  width: 150px;
  height: 150px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.about-me {
  background-color: #2aabe4;
  padding-bottom: 10px;
}

.about-me h2 {
  text-align: center;
  margin-bottom: 8px;
  color: #ffcd24;
  text-shadow: 1.5px 1.5px #111;
  font-family: "Roboto", sans-serif;
}

.about-me p {
  line-height: 40px;
  padding: 6.4px;
  font-family: "Roboto", sans-serif;
  color: #33393d;
}

/* ABOUT ME STYLES ENDS*/

/* SKILLS SECTION STYLES START*/

.skills {
  background-color: #2aabe4;
}

.skills-card {
  background-color: #ffcd24;
  border: 2px solid #111;
  border-radius: 5px;
}

.skill-icon {
  width: 150px;
  height: 150px;
}

/* SKILLS SECTION STYLES ENDS*/

/* PROJECTS SECTION STYLES STARTS*/
.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2aabe4;
}

.project-img {
  width: 400px;
  height: 337px;
}

/* PROJECTS SECTION STYLES ENDS*/

/* FOOTER SECTION STYLES STARTS*/
.footer {
  background-color: #2aabe4;
}

.contact-info {
  color: #ffcd24;
  background-color: #2aabe4;
}

.contact-icon {
  padding-right: 20px;

}

table {
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

th {
  font-size: 16px;
  padding-left: 12px;
  text-align: center;
  color: #ffcd24;

}

tr {
  text-align: center;
}

td {
  font-size: 14px;
}

.copyright {
  color: #ffcd24;
  text-align: center;
  padding: 20px;
  background-color: #2aabe4;
}

/* FOOTER SECTION STYLES ENDS */

/************************** MEDIA QUERIES FOR MOBILE PHONES, TABLETS AND DESKTOP *****************************/
/*Landscape ipad mini*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)and (orientation : landscape){
  /* NAVBAR SECTION STYLES STARTS*/

  .margin-left {
    margin-left: 460px;
  }

  /* NAVBAR SECTION STYLES ENDS*/

  /* FOOTER SECTION STYLES STARTS*/

  table {
    margin-left: 350px;
    
  }

  /* FOOTER SECTION STYLES ENDS */
}



/*Portrait ipad mini*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)and (orientation : portrait ){
  /* NAVBAR SECTION STYLES STARTS*/

  .margin-left {
    margin-left: 210px;
  }

  /* NAVBAR SECTION STYLES ENDS*/

  /* FOOTER SECTION STYLES STARTS*/
  footer{
    padding-bottom: 130px;
  }
  table {
    margin-left: 220px;
    
  }

  /* FOOTER SECTION STYLES ENDS */
}