/* Resets all page by removing margin and padding*/
* {
  margin: 0;
  padding: 0;
}


h1 {
  color: #FFCD24;
}
h4 {
  color: #FFCD24;
}

/* NAVIGATION BAR STYLES STARTS*/

.navbar-bg{
    background-color: #2AABE4;
}
nav span {
  color: #FFCD24;
}

/* NAVIGATION BAR STYLES ENDS*/


/* HERO SECTION STYLES STARTS*/


.hero{
  background-color: #2AABE4;
}
.hero-img {
    width: 400px;
    height: 322px;
  }

/* HERO SECTION STYLES ENDS*/


/* ABOUT ME SECTION STYLES ENDS*/

  .bio-Pic{
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  
  /* ABOUT ME STYLES ENDS*/